@model IEnumerable<Merchants.Models.Faktur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Karyawan.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cloth.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pelanggan.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tanggal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jumlah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Harga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pajak)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Karyawan.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cloth.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pelanggan.Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tanggal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jumlah)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Harga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pajak)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
